name: Deploy to HuggingFace Space

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Push to HuggingFace Space
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
          HF_USERNAME: ${{ secrets.HF_USERNAME }}
          HF_SPACE: ${{ secrets.HF_SPACE }}
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "github-actions"

          git clone https://$HF_USERNAME:$HF_TOKEN@huggingface.co/spaces/$HF_USERNAME/$HF_SPACE space_repo

          rsync -av --exclude '.git' ./ space_repo/

          cd space_repo
          git add .
          git commit -m "Auto deploy from GitHub" || echo "No changes"
          git push
